---
import Typewriter from "./react/Typewriter";
---

<div
    class="h-screen flex flex-col space-y-8 items-center justify-center text-center overflow-hidden"
>
    <img
        src="/images/heroImage.jpg"
        alt="Portrait of Vedang Barhate"
        class="mx-auto relative rounded-full h-32 w-32 object-cover"
    />

    <div class="z-20">
        <h1 class="text-3xl md:text-4xl dark:text-white font-semibold px-10">
            Vedang Barhate
        </h1>
        <h2
            class="text-sm uppercase text-gray-700 dark:text-stone-400 pb-2 tracking-[0.75em] mt-2"
        >
            <Typewriter client:load isDark={true} />
        </h2>
        <div class="pt-5">
            <button class="heroNav">
                <a href="#about">About</a>
            </button>
            <button class="heroNav">
                <a href="#projects">Projects</a>
            </button>
            <button class="heroNav">
                <a href="#skills">Skills</a>
            </button>
            <button class="heroNav">
                <a
                    href="/VedangBarhate_resume.pdf"
                    target="_blank"
                    rel="noopener noreferrer"
                    download
                >
                    Resume
                </a>
            </button>
        </div>
    </div>
</div>

