.projectContainer {
  max-width: 75rem;
  padding: 1.5rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.5s;
  box-sizing: border-box;
  box-shadow: 0 10px 30px -15px #1c1917;
  margin-bottom: 2rem;
}

.project:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 20px 30px -15x #1c1917;
}

.projectTextBox {
  padding: 2rem;
  grid-column: span 6;
}

.projectImgBox {
  display: flex;
  align-items: center;
  grid-column: span 4;
  overflow: hidden;
}

.headingSecondary {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 4.5rem;
}

.projectDesc {
  font-size: 1.12rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.projectContent {
  font-size: 1rem;
}

.headingTertiary {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
}

.techStackHeading {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  border: none;
}

.projectTechStack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.62rem;
  justify-content: flex-end;
}
.techStackItems {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.projectImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}

@media (max-width: 47em) {
  .project {
    grid-template-columns: 1fr;
    background-color: #1c19177b;
  }

  .headingSecondary {
    font-size: 2rem;
  }

  .projectImgBox {
    z-index: -1;
  }

  .projectImgBox,
  .projectTextBox {
    grid-row: 1;
    grid-column: 1;
  }

  .projectImgBox {
    opacity: 0.1;
  }
}

@media (max-width: 40em) {
  .headingSecondary {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .projectDesc p {
    font-size: 0.75rem;
  }
}
