---
---

<div class="sticky bottom-5 w-full cursor-pointer">
  <div class="flex items-center justify-end mr-5">
    <div class="flex items-center justify-center w-10 h-10 bg-stone-300 text-stone-600 hover:bg-stone-700 hover:text-stone-100 dark:hover:bg-stone-700 dark:hover:text-stone-100 dark:bg-stone-600 dark:text-stone-300 rounded-full transition-colors">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
