.hidden {
  opacity: 0;
  filter: blur(100px);
  transform: translateX(-100%);
  transition: all 1s;
}

/* @media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
} */

svg {
  fill: currentColor;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
